@using System.Threading.Tasks
@using _3DCytoFlow.ViewModels.Analysis
@model List<AnalysisViewModel>

@{
    ViewBag.Title = "Results";
    var directory = "";
}

<link rel="stylesheet" type="text/css" href="~/css/stylish.css">
<link rel="stylesheet" type="text/css" href="~/css/semantic.min.css">
<script src="~/js/three.min.js"></script>
<script src="~/js/OrbitControls-Touch.js"></script>
<script src="~/js/rAF.js"></script>
<script src="~/js/lodash.min.js"></script>
<script src="~/js/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/bootstrap-colorselector.css" />
<script src="~/js/bootstrap-colorselector.js"></script>

<style>
    div#loader {
        margin-left: 15px;
    }

    div.ui.large.indeterminate.loader::after, div.ui.large.indeterminate.loader::before {
        margin-left: -50px;
    }

    div#page-wrapper {
        min-height: calc(100vh - 70px);
    }

</style>

<div id="page-wrapper">
    <div id="body3" class="noselect">
        <div class="form-group noselect" id="analysisGroup">          
            <div>
                @{
                    if (Model.Any(analysis => analysis.ResultFilePath != null && !analysis.ResultFilePath.Equals("")))
                    {
                        <div class="label noselect" id="label2">Patient's Name - Data Upload Date</div>
                        <select class="form-control noselect" name="status" id="analysisSelect">
                            @foreach (var analysis in Model.Where(x => x.ResultFilePath != null && !x.ResultFilePath.Equals("")))
                            {
                                if (string.IsNullOrWhiteSpace(directory))
                                {
                                    directory = analysis.UserLastName + "-" + analysis.UserFirstName + "-" + analysis.UserId + "/";
                                    directory = directory.ToLower();
                                }

                                var displayName = analysis.PatientLastName + ", " + @analysis.PatientFirstName + " | " + analysis.Date.ToString("MM-dd-yyyy");

                                <option class="noselect" value ="@analysis.Id">@displayName</option>
                            }

                        </select>

                        <div class="label noselect" id="label3">Clusters</div>

                        <input id="clusterInput" class="form-control noselect" type="text" placeholder="cluster name">
                        <div>
                            <input type="submit" id="clusterButton" onclick="addCluster();" value="Add" class="btn btn-primary noselect"/>
                            <input type="submit" id="clusterButton2" onclick="removeCluster();" value="Remove" class="btn btn-primary noselect"/>
                        </div>
                        <input id="deleteButton" analysis="@Model.First().Id" class="btn btn-danger noselect" type="button" value="Delete" />
                      }
                }                 
            </div>
        </div>

        <div id="info-box" class="hidden">
            <div class="ui segment noselect">
                <div class="ui green inverted statistic noselect">
                    <div id="statsSize" class="value noselect">
                        0
                    </div>
                    <div class="label noselect">
                        Points Plotted
                    </div>
                </div>
                <div class="ui blue inverted statistic noselect">
                    <div id="clusterSize" class="value noselect">
                        0
                    </div>
                    <div class="label noselect">
                        Clusters
                    </div>
                </div>
            </div>
            <div class="ui divider noselect"></div>
            <i class="ui white big undo icon noselect"></i>

            <div class="ui inverted toggle checkbox noselect">
                <label id="rotateLabel" class="noselect">Rotate</label>
                <input type="checkbox" class="noselect" name="rotateCheckbox" checked="checked" onClick="rotateToggle()">
            </div>

            <div class="ui divider noselect"></div>
            <div id="clusterInfo" class="noselect">          
            </div>

        </div>

        <i class="fixed big white info icon noselect" id="infoButt"></i>

        <!--PUSHER -->
        <div class="pusher">
            <canvas id="data-canvas"></canvas>
            <div class="ghost-select"><span></span></div>
            <div id="loader">
                <div class="ui large indeterminate loader"></div>
            </div>
        </div>

        <script src="~/js/dreda.js"></script>
        <script src="~/js/ui.js"></script>
        <script>
            var selectedColor;
            $(document).ready(function () {
                //download current result
                @{
                    if (Model.Any(analysis => analysis.ResultFilePath != null && !analysis.ResultFilePath.Equals("")))
                    {
                        <text>
                        DownloadCurrentResult();
                        selectedColor = colors[0];
                        //fill the color selector
                        fillColorSelector();
                        </text>
                    }
                }
                       
                //remove after testing
                $('#analysisSelect').on('change', function () {
                    $('#deleteButton').attr('analysis', this.value);
                    DownloadCurrentResult();
                });

                $('#deleteButton').click(function (e) {

                    var id = $(this).attr("analysis");

                    location.href = '@Url.Content("~/Analyses/Delete/")' + id;
                });

            });

            function DownloadCurrentResult() {

                $("#loader").addClass("ui active dimmer");

                $.ajax({
                    type: "POST",
                    async: true,
                    url: "/File/DownloadResult?path=" + getPath($('#analysisSelect').text())
                }).done(function (model) {

                    if (model !== undefined && model !== "") {
                        data = JSON.parse(model);
                        plot(data);
                    } else {
                        $("#loader").removeClass("ui active dimmer");
                        alert("This file is corrupted. Press the red button to delete it");
                    }
                }).fail(function () {
                    $("#loader").removeClass("ui active dimmer");
                    alert("failed");
                });
            }

            function get_content() {
                var html = document.getElementById("txt").innerHTML;
                document.getElementById("txt").innerHTML = html.replace(/<[^>]*>/g, "");
            }

            function fillColorSelector() {
                $('#clusterInput').after('<select class="form-control" id="colorselector" style="margin: 10px;"></select>');

                for (var i = 0; i < colors.length; i++) {
                    $('#colorselector').append('<option value="'+ i +'" data-color="' + colors[i].toUpperCase() + '"></option>');
                }

                $('#colorselector').colorselector({
                    callback: function (value, color, title) {
                        selectedColor = color;
                    }
                });
            }

            function addCluster() {
               // $("#loader").addClass("ui active dimmer");
                $('#clusterInfo').append('<div style="color:' + selectedColor + ';">' + $("#clusterInput").val() + '</div>');
                //TODO: Make ajax call to save the cluster
            }

            function removeCluster() {
//                $("#loader").addClass("ui active dimmer");

                $('#clusterInfo').children().last().remove();
                //TODO: Make ajax call to remove the cluster
            }

            //get the right name of the blob
            function getPath(value) {
                data = null;
                return '@(directory)' + value.replace(/ /g, '').replace(",", "-").replace("|", "/").toLowerCase() + ".json";
            }
        </script>
    </div>
</div>


